<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="serviceName" source="spring.application.name" defaultValue="orchestrator-service"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} level=%-5level service=${serviceName} logger=%logger{36} message=%msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
